
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  padding-top: 50px;
}

main{
  padding-top: 40px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 3;
  height: 50px;
}

.menu-button {
  position: fixed;
  right: 0;
  background-color: #d04895;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 25px;
}

.menu-button:hover {
  background-color: #a93881;
}

.brand-name {
  font-size: 60px;
  color: #ffffff;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  font-family: "Bokor", system-ui;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 15px;
}

.logo {
  height: 70px;
  margin-left: 0px;
}

.menu {
  display: none;
  position: fixed;
  top: 65px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  z-index: 4;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu li {
  border-bottom: 2px solid #ddd;
}

.menu li:last-child {
  border-bottom: none;
}

.menu a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #f4f4f9;
}

.content-section {
  display: flex;
  align-items: stretch;
  margin: 30px;
  background-color: antiquewhite;
  justify-content: space-evenly;
}

.content-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  text-align: center;
}

.content-section img {
  max-width: 100%;
  border-radius: 60%;
  object-fit: cover;
}

.info-name {
  font-size: 40px;
  margin-bottom: 0px;
}

.info {
  font-size: 20px;
  width: 500px;
}

.home-img{
  height: 500px;
  border-radius: 60% ;
  justify-content: center;
}


footer{
  background-color: #000000; 
  padding: 15px 15px;
  position: relative;
  bottom: 0;
  width: 98%;
  display:block; 
}

.footer{
  color: #ddd;
  font-size: 14px;
  margin-left: 20px;
}


@media (max-width: 768px) {
  .navbar {
    padding: 8px 10px;
    height: 45px;
  }

  .brand-name {
    font-size: 25px;
  }

  .menu-button {
    padding: 6px 12px;
    font-size: 14px;
  }

  .menu {
    width: 100%;
    right: 0;
    top: 60px;
  }

  .menu a {
    padding: 10px;
  }

  .logo {
    height: 50px;
  }
}