
body {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.drinkGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    max-width: 1500px;
    margin: 100px;
}

.drink{
    background-color: #e299dc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    height: 360px;
    width: 200px;
    text-align: center;
}

.drink-name{
    font-size: 22px;
    margin-block-start: 10px;
    margin-block-end: 0px;
}

.drink-img{
    height: 150px;
    border-radius: 70%;
}

p{
  font-size: 13px;  
  margin-block-start: 8px;
}

h2{
    text-align: center;
    padding: 25px;
    font-size: 30px;
    display:flex;
}

svg{
    width: 30px;
}

.icon-cart{
    position: fixed;
    right: 0;
    margin-top: 60px;
    margin-right: 30px;
    cursor: pointer;
}

.icon-cart span{
    display: inline;
    width: 20px;
    height: 20px;
    background-color: red;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -8px;
}

.drink-grid .drink .price{
    letter-spacing: 1px;
    font-size: medium;
}
.drink-grid .drink button{
    background-color: #3ee1a8b0;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: auto;
    border: none;
}
.cartTab{
    padding-top: 50px;
    width: 400px;
    background-color: black;
    color: #eee;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    inset: 0 0 0 auto
}
body .showCart .container{
    transform: translateX(-250px);
}
.cartTab h2{
    padding: 30px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display:grid;
    grid-template-columns: repeat(2,1fr)
}
.cartTab .btn button{
    background-color: #E8BC0E;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .btn .close{
    background-color: #eee;
}
.cartTab .listCart .item img{
    width: 100%;
}
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}
.listCart .item:nth-child(even){
    background-color: rgba(210, 210, 210, 0.533);
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
.icon-cart svg {
    width: 38px;
    height: 38px;
}

@media only screen and (max-width: 992px) {
    .drink-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 768px) {
    .drink-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}